body{
    color: var(--SLATE, #434455);
    font-family: "Roboto",sans-serif;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
img{
    display: block;
}
ul{
    margin-top: 0px;
        margin-bottom: 0px;
        list-style: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    border-bottom: 1px solid #e7e9fc;
    
    
}
.header-container{
    margin: 0 auto;
    width: 1158px;
    display: flex;
}
.logo-link{
        margin-right: 76px;
    color: var(--IRIS, #4D5AE5);
    text-decoration: none;
font-family: "Raleway",sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.logo-span{
    color: var(--NAVY-BLUE, #2E2F42);
}
.navbar{
    display: flex;
    align-items: center;
}
.nav-links{
    display: flex;
    gap: 40px;
}
.nav-item{
padding: 24px 0;
}
.nav-link{
    color: var(--NAVY-BLUE, #2E2F42);
    text-decoration: none;
font-weight: 500;
letter-spacing: 0.02em;
}
.nav-link:hover{
    color: var(--OCEAN, #404BBF);
}
.nav-link:focus{
    color: var(--OCEAN, #404BBF);
}
.address{
   
}
.address-links{
    display: flex;
    gap: 40px;
}
.address-item{
    padding: 24px 0;
}

.address-link{
    color: var(--SLATE, #434455);
letter-spacing: 0.02em;
    text-decoration: none;
}
.address-link:hover{
    color: var(--OCEAN, #404BBF);
font-weight: 500;
letter-spacing: 0.32px;
}
.address-link:focus{
    color: var(--OCEAN, #404BBF);
}
.section-one{
    background: var(--NAVY-BLUE, #2E2F42);
text-align: center;
padding: 188px 0;
}
.first-title{
color: var(--WHITE, #FFF);
text-align: center;
font-size: 56px;
letter-spacing: 1.12px;
line-height: 1.07;
max-width: 496px;
margin: auto;
margin-bottom: 48px;
}

button{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
margin-bottom: 188px;
background: var(--IRIS, #4D5AE5);
color: var(--WHITE, #FFF);
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
margin: auto;
cursor: pointer;
}
button:hover{
    background: var(--OCEAN, #404BBF);
}
button:focus{
background-color: #404BBF;
}
.goal{
    padding: 120px 0;
}
.goal-title{
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.goal-list{
    display: flex;
    gap: 24px;
}
.goal-item{ 
flex-basis: calc((100% - 3 * 24px) / 4)
}
.goal-item-title{
    margin-top: 0px;
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
letter-spacing: 0.02em;
}
.goal-item-text{
    margin-top: 0px;
    margin-bottom: 0px;
line-height: 24px;
letter-spacing: 0.02em;
}
.team{
    background: var(--CLOUD, #F4F4FD);
    padding: 120px 0;
}

.team-title{
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
text-transform: capitalize;
margin-bottom: 72px;
line-height: 1.11;
letter-spacing: 0.02em;
}
.team-list{
    gap: 24px;
    display: flex;
}
.team-item{
    flex-basis: calc((100% - 3 * 24px) / 4);
    text-align: center;
background: var(--WHITE, #FFF);
border-radius: 0px 0px 4px 4px;
}
.team-container{
    padding: 32px 0;
}
.team-item-title{
    text-align: center;
    margin-bottom: 8px;
    color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
letter-spacing: 0.02em;
}
.team-item-text{
    text-align: center;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.02em;
}
.project{
    padding-top: 120px;
    padding-bottom: 120px;
}
.project-title{
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
line-height: 40px; /* 111.111% */
text-transform: capitalize;
margin-bottom: 72px;
}
.project-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.project-item{
    width: calc((100% - 48px) / 3);
}
.project-item{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.project-item-title{
    color: var(--NAVY-BLUE, #2E2F42);
    margin-bottom: 8px;
font-size: 20px;
font-weight: 500;
letter-spacing: 0.4px;

}
.project-item-text{
    margin-top: 8px;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
letter-spacing: 0.32px;
}
.footer{
    background: var(--NAVY-BLUE, #2E2F42);
    color: var(--CLOUD, #F4F4FD);
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo{
    color: var(--IRIS, #4D5AE5);
    text-decoration: none;
font-family: "Raleway",
    sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
font-size: 18px;


}
.footer-logo{
display: inline-block;
margin-bottom: 16px;
}
.footer-logo-span{
    color: var(--CLOUD, #F4F4FD);
font-size: 18px;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
}
.footer-text{
    color: var(--CLOUD, #F4F4FD);
    letter-spacing: 0.02em;

}